<ul>
    <li>{{{titulo}}}</li>
    <li>{{{autor}}}</li>
    <li>{{{anio}}}</li>
    <li>{{{precio}}}</li>
    <li>{{{propietario}}}</li>
    <li>{{{estado}}}</li>
    <li>{{{descripcion}}}</li>
</ul>