<ul class="datos_lista">
    <li>Titulo: {{{titulo}}}</li>
    <li>Autor: {{{autor}}}</li>
    <li>Año: {{{anio}}}</li>
    <li>Precio: {{{precio}}}</li>
    <li>Propietario: {{{propietario}}}</li>
    <li>Estado: {{{estado}}}</li>
    <li>Descripción: {{{descripcion}}}</li>
</ul>